{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if products %}
        <div id="page_obj_list" class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th width="5%">{% trans 'Price' %}</th>
                        <th>
                            <a href="{% url 'products:list' %}?page={{ page_obj.number }}&sort_direction={% if request.GET.sort_direction == 'desc' %}asc{% elif request.GET.sort_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                <span>
                                {% if request.GET.sort_direction == 'asc' %}
                                    <span class="fa fa-sort-desc">&nbsp;</span>
                                {% elif request.GET.sort_direction == 'desc' %}
                                    <span class="fa fa-sort-asc">&nbsp;</span>
                                {% else %}
                                    <span class="fa fa-minus">&nbsp;</span>
                                {% endif %}
                                {% trans 'Likes' %}
                                </span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.likes_num }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination tac">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort_direction %}&sort_direction={{ request.GET.sort_direction }}{% endif %}">{% trans 'previous' %}</a>
                {% endif %}

                <span class="current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.sort_direction %}&sort_direction={{ request.GET.sort_direction }}{% endif %}">{% trans 'next' %}</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="alert alert-info">{% trans 'Products not found' %}</div>
    {% endif %}
{% endblock %}
