{% extends 'base.html' %}

{% load i18n crispy_forms_tags humanize %}

{% block content %}
    <div class="row">
        <span class="product_tags tag tag-success">${{ product.price }}</span>
        <span class="product_tags tag tag-default" style="margin-right: 10px;">
            {% trans 'Likes' %}: {{ product.likes.all|length }}
        </span>
        {% if request.user not in product.likes.all %}
            <form class="product_tags" method="post" action="{% url 'products:like' product.slug %}">
                {% csrf_token %}
                <button class="btn btn-link fa fa-heart" type="submit"></button>
            </form>
        {% else %}
            <span class="product_tags fa fa-heart text-danger">&nbsp;</span>
        {% endif %}
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
    </div>

    <div class="row">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary pull-xs-right">{% trans "Send" %}</button>
        </form>
    </div>

    {% if product.comments.all %}
        <div class="row">
            <h3>{% trans 'Comments' %}</h3>
            {% for comment in product.comments.all %}
                <div class="card">
                    <div class="card-header">
                        <strong>{{ comment.created_by|default:'Anonymous' }}</strong> <span class="text-muted"> {% trans 'commented' %} {{ comment.created_at|naturaltime }}</span>
                    </div>
                    <div class="card-block">
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
